* {
  margin: 0;
}

.body {
  background-color: rgb(50, 50, 50);
}

.strip {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  height: 25px;
  margin-left:250px
}

.strip:nth-child(even) {
  background-color: rgb(195, 195, 195);
}

.strip:nth-child(odd) {
  background-color: rgb(144, 144, 144);
}

.country {
  background-color: rgb(22, 22, 22);
  color: white;
  margin: 5px 0px;
  padding: 5px 10px;
  margin-left:250px
}
.tin {
  font-size: 17px;
}

.jude {
  background-color: rgba(1, 1, 216, 0.733);
  font-size: 20px;
  width: 250px;
  text-align: center;
  position: fixed;
  color:white
}
.pac {
  border-bottom: 1px solid;
  margin: 0px;
  height: 35px;
  padding-top: 10px;
  cursor: pointer;
}
.pac:hover {
  background-color: blue;
  font-size: 22px;
}

.header {
  background-color: rgb(28, 31, 28);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 7vh;
  width: 7vw;
  margin: auto;
}
.logoheader {
  display: flex;
  justify-content: space-around;
  align-items: center;


}
.list {
  padding: 10px;
}
.list a {
  font-size: 18px;
  padding: 11px;
  cursor: pointer;
}
a:hover {
  color: rgba(74, 71, 233, 0.986);
  background: white;
  transition: 2s;
}
span {
  color: rgba(84, 81, 252, 0.986);
}